gensim==3.8.3
spacy==3.1.2
pandas==1.2.4
scikit-learn==0.23.2
altair==4.1.0
boto3==1.17.62
tika==1.24
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
wordcloud @ https://github.com/amueller/word_cloud/archive/refs/tags/1.5.0.zip
spacy-streamlit==1.0.1
streamlit==0.81.1
numpy==1.20.2
regex==2020.11.13
click==7.1.2
